@model CountryCodes.Models.SaveFile

@{
    ViewBag.Title = "Saved file info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Saved file details</h2>

<div>
    <hr />

    <dl class="dl-horizontal"></dl>
    
    <div class="form-group">
        @Html.Label("Saved as: ")
        @Html.DisplayFor(model => model.Filename)
        @Html.ValidationMessageFor(model => model.Filename)
    </div>

    <div class="form-group">
        @Html.Label("Saved in: ")
        @Html.DisplayFor(model => model.Dir)
        @Html.ValidationMessageFor(model => model.Dir)
    </div>
</div>
